<!-- HEADER -->
<header class="header">
  <div class="content-modal" id="content-modal">
    <div class="modal-css">
      <div class="contenedor-modal"></div>
      <div class="contenedor-contenido">
        <div class="img-icono-close" (click)=" clickClose();">
          <img src="../../assets/images/icon-menu-close.svg" />
        </div>
        <div class="contenido-items">
          <span> Home </span>
          <br />
          <span> New </span>
          <br />
          <span> Popular </span>
          <br />
          <span> Trending </span>
          <br />
          <span> Categories </span>
        </div>
      </div>
    </div>
  </div>
  <div class="header-icon">
    <img src="../../assets/images/logo.svg" />
  </div>
  <div class="header-contenido">
    <div (click)="clickOpne();" class="header-contenido-icono">
      <img src="../../assets/images/icon-menu.svg" />
    </div>
    <div class="header-contenido-opcion">
      <a> Home </a><a> New </a><a> Popular </a><a> Trending </a
      ><a> Categories </a>
    </div>
  </div>
 
</header>
<!--  -->
