    <!--  -->
    <footer class="footer">
        <div class="footer-contenido">
            <div class="footer-contenido-detalle">
                <div class="footer-contenido-detalle-imagen">
                    <img src="../../assets/images/image-retro-pcs.jpg">
                </div>
                <div class="footer-contenido-detalle-texto">
                    <h1>01</h1>
                    <span>Reviving Retro PCs</span>
                    <p>
                        What happens when old PCs are given
                         modern upgrades?
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-contenido">
            <div class="footer-contenido-detalle">
                <div class="footer-contenido-detalle-imagen">
                    <img src="../../assets/images/image-top-laptops.jpg">
                </div>
                <div class="footer-contenido-detalle-texto">
                    <h1>01</h1>
                    <span>Top 10 Laptops of 2022</span>
                    <p>
                        Our best picks for varius needs and budgets.  
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-contenido">
            <div class="footer-contenido-detalle">
                <div class="footer-contenido-detalle-imagen">
                    <img src="../../assets/images/image-gaming-growth.jpg">
                </div>
                <div class="footer-contenido-detalle-texto">
                    <h1>01</h1>
                    <span>The Growth of Gaming</span>
                    <p>
                        How the pandemic has sparked 
                        fresh opportunities.
                    </p>
                </div>
            </div>
        </div>
    </footer>
