
<main class="main">
    <div class="main-imagen">
       
    </div>
    <div class="main-contenido">
        <div class="main-contenido-titulo">
           <h1>The Bright Future Of Web 3.0?</h1>
        </div>
        <div class="main-contenido-detalle">
            <p>We dive into the next evolution of web that claims to put 
                the power of plataforms back into the hands of the people. 
                But is it really fulfiling its promise?.</p>
            <button>READ MORE</button>
        </div>
        
    </div>
</main>
<!--  -->